{% extends "../../layout/_base.twig" %}

{% block body %}
<main>
  {% for wish in wishes %}
  <article class="wishlist {{ wish.category.slug }}">
    <header>
      {{ wish.category.name }}
    </header>
    <h2>
      <a href="show.html">{{ wish.title }}</a>
    </h2>
    <footer>
      {% if wish.link is not empty %}
        <a href="{{ wish.link }}" title="Lien vers &quot;{{ wish.title }}&quot;">Lien</a>
      {% endif %}
      <a href="update.html">Offrir</a>
    </footer>
  </article>
  {% endfor %}
</main>
{% endblock %}
